@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
.App {
  font-family: Russo One;
  background-color: #f1faee;
}
/* .hero {
  display: flex;
  flex-direction: row;
}
.hero-section {
  width: 50vw;
  text-align: center;
} */
